@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background: #f1faee;
}
